/*Font Face---------------------------------------------*/


/*Basic Typography---------------------------------------------*/

h1,h2,h4,h5,h6 {
    font-weight: 300;
    line-height: 1.2em;
}

h1 {
    letter-spacing: 1px;
    margin: 20px;
    padding: 30px;
}

h3 {
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 1.2em;
    font-size: 150%;
    font-family: 'Source Sans Pro', sans-serif;
}

p, li {
    line-height: 2.25em;
    font-size: 100%;
    letter-spacing: 0.75px;
}

p {
    margin-bottom: 1.5em;
}

li {
    margin-bottom: 1em;
}


.keyword {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: oblique;
    text-align: center;
    display: inline-block;
    font-weight: 600;
}

/*Hyperlinks---------------------------------------------*/
li>a.social-links {
  text-decoration: none;
  color: #6BD1C5;
}


a:active {
    opacity: 1.0;
}

/*Titles---------------------------------------------*/


h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-transform: /*capitalize*/;
}

h1 a {
    color: #7994a7;
}


h3.subhead {
    margin-top: 0.25em;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0.5em;
    line-height: 1.25em;
}


.title {
   padding: 30px;
   margin: 50px auto;
}

.single .title {
    text-align: center;
}

.title p {
    margin-top: 10px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.home .title {
    text-align: center;
}

.entry h3 {
    padding-bottom: 0.5em;
}

/*Widgets---------------------------------------------*/

.widget h2 {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 15px;
}

.widget p {
    line-height: 1.5em;
    font-size: 80%;
}

/*About Page-------------------------------------------*/

.underline {
    text-decoration: underline;
}

/*Media Queries----------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 320px) {
    body {
        width: 100%
        overflow-x: hidden;
    }
    .keyword {
        width: 100%;
    }
}

/*-----------------------------------------------------*/

@media screen and (min-width: 321px) and (max-width: 480px) {
    .keyword {
        width: 100%;
    }
   
}

@media screen and (min-width: 341px) and (max-width: 489px) {

    h1 {
        font-size: 250%;
    }
    
    .meta {
        text-align: center;
    }

    h3.subhead {
        font-size: 125%;
    }

    p, li {
        line-height: 2.25em;
        font-size: 80%;
    }
    
    @medin and (min-widht:360px) and (max-width:640px){
        .keyword {
            width: 100%;
        }
    }


/*-----------------------------------------------------*/

@media screen and (min-width: 490px) and (max-width: 765px) {
    .meta {
        text-align: center;
    }

    h1 {
        font-size: 300%;
    }

}

/*-----------------------------------------------------*/


@media screen and (min-width: 768px) and (max-width: 1024px) {
    
  
    .meta h1{
        margin: 0em 0em;
    }

    h1 {
        font-size: 300%;
    }

    .keyword {
            width: 40%;
        }

    h3.subhead {
        font-size: 150%;
    }

}

@media screen and (min-width: 960px) and (max-width: 1024px) {
    
    .keyword {
            width: 100%;
        }
    
     .home .overview .date {
        display: none;
    }

    .home .overview p {
        margin-bottom: 0em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {


    h1 {
        font-size: 300%;
    }

    h3.subhead {
        font-size: 150%;
    }

    
}

/*-----------------------------------------------------*/

@media screen and (min-width: 1281px) {


    h1 {
        font-size: 300%;
    }

    h3.subhead {
        font-size: 150%;
        line-height: 1.2em;
    }


}




